OPENAI_API_KEY=
PORT=3000
APP_BASE_URL=http://localhost:3000
JWT_SECRET=
STRIPE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=price_xxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_EMAILS=admin@example.com
ADMIN_USER_IDS=01
