OPENAI_API_KEY=your_api_key_here_sk_proj_...
PORT=3000
APP_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=whsec_69dac6082fa689f0af0138ead49f4d7283f3b4e7cb7f80346879864086424609
STRIPE_WEBHOOK_SECRET=mk_1TFZAtF8gC7gGNTW7FuCPMne

price_id=price_1TFEEYF8gC7gGNTWSLt6Sk2n